<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" href="../../css/zerbitzua.css" media="screen" />
</head>
<body>
    <div class="head">
        <h1><img src="../../../public/biabelogo.jpg" alt="BIABE"></h1><hr>
            <div class="cesta">
                <a href="#"><i class="fa-shopping-cart"></i>Zesta</a>
            </div>
    </div>
    <div id="services">
        <div class="service">
            <img src="../../../public/ordenadorea.png" alt="Servicio 1">
            <h3>Muntaketa eta konfigurazioak</h3>
            <p>Lehen egunetik ezer falta ez dakizun. 
                Gure adituek zure ordez egingo dute behar duzun hasierako konfigurazioa edo zure ordenagailua pieza esklusiboagoen bidez muntatuko dute. 
                Izan ezazu inbidia zure gaming ekipoarekin edo zure behar guztiak estaltzen dituen konfigurazio profesional batekin!
            </p>
        </div>
        <div class="service">
            <img src="../../../public/imovil.jpg" alt="Servicio 2">
            <h3>Zure mugikorra, tableta edo smartwatch-a berrerosten dugu</h3>
            <p>Zure smartphone, tablet edo smartwatch zaharrak balio du oraindik. 
                Zure gailua berrerosten dugu bizitza berri bat emateko, edo ingurumenarekin modu arduratsuan birziklatuko dugu. 
                Prozesu sinple batean, berehala duen uneko balioa ezagutu, eta adierazten diguzun lekuan jasoko dugu.
            </p>
        </div>
        <div class="service">
            <img src="../../../public/descarga.jpg" alt="Servicio 3">
            <h3>Konponketak</h3>
            <p>Edozein arazorentzat beti dago konponbideren bat.
                Lege-bermeko matxura batetik hasi eta mugikorreko pantaila ordezkatzeraino edo bateria ordezkatzeraino, baita zure ordenagailua edo eramangarria konpontzeraino ere.
                Gorabeheraren bat izan baduzu, hainbat aukera ditugu zuretzat.​</p>
        </div>
    </div>
</body>
</html>