<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biabe.com</title>
    <link rel="stylesheet"  href="../../css/MainPage.css" />
</head>
<body>
    <div class="head">
        <h1><img src="../../../public/biabelogo.jpg" alt="BIABE"></h1><hr>
            <div class="cesta">
                <a href="#"><i class="fa-shopping-cart"></i>Zesta</a>
            </div>
    </div>
    <div class="menua">
        <nav>
            <ul>
                <li><a href="MainPage.html">HASIERA</a></li>
                <li><a href="Zerbitzuak.html">ZERBITZUAK</a></li>
                 <li><a href="produktuak.php">PRODUKTUAK</a></li>
                 <li><a href="../suppliers/hornitzaileakinkesta.php">HORNITZAILEAK</a></li>
                 <li><a href="../news/Berriak.php">BERRIAK</a></li>
            </ul>
        </nav>
    </div>
    <div class="contenedor">
        <button id="boton-menu">OFERTAK!</button>
        <ul class="menu-desplegable">
            <li><a href="#">SmartphoneXYZ<br>(599,99€)</a></li> 
            <li><a href="#">LaptopABC<br>(499,99€)</a></li>
            <li><a href="#">SmartTV UltraHD<br>(799,99€)</a></li>
            <li><a href="#">Camar MDLR<br>(349,00€)</a></li>
            <li><a href="#">HeadPhones X3L<br>(15,50€)</a></li>
            <li><a href="#">Mouse WXY<br>(19,99€)</a></li>
        </ul>
    </div>
    <div class="foto">
        <img src="../../../public/biabelogo.jpg"alt="BIABE">
    </div>
    <footer>
        <hr>
        <p>BIABE.com es una marca registrada</p>
    </footer>
</body>
</html>