hr {
    height: 10px;
    background: linear-gradient(to right, #4568dc, #b06ab3);
    
}        
h1 img{
    width: 115px;
    height: 65px;
}
.cesta {
    position: absolute; /* Posición absoluta dentro del contenedor */
    top: 40px; /* Distancia desde la parte superior */
    right: 60px; /* Distancia desde la derecha */
    color: #ffffff;
    padding: 10px;
    width: 20px;
    height: auto;
}
.cesta :hover{
    background-color: #b06ab3;
}
.cesta a{
    display: block;
    color: rgb(255, 255, 255); /* Color del texto en el menú */
    text-decoration: none;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    
}
body {
    background: #151f42;
}
/* Estilo para el menú */
ul {
    list-style-type: none;
    padding: 0;
    width: 125px; /* Ancho del menú */
    height: 400px;
    background-color: #4568dc; /* Color de fondo del menú */
}

li {
    text-align: center;
    
}

li a {
    display: block;
    color: rgb(255, 255, 255); /* Color del texto en el menú */
    text-decoration: none;
    padding: 20px 0; 
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    
}

li a:hover {
    background-color: #b06ab3;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: transform 0.5s;
    
}
footer{
    color: #151f42;
    font-size: medium;
    background: linear-gradient(to right, #4568dc, #b06ab3);
}
.content {
    flex: 1;
     padding: 20px;
}
.foto {
    position: absolute;
    top: 160px;
    right: 800px;
    width: 80px;
    height: 200px;
}
/* Estilo del contenedor */
.contenedor {
    position: absolute;
    text-align: right;
    top:142px;
    left: 1145px;
}

/* Estilo del botón del menú */
#boton-menu {
    background-color: #b06ab3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    width: 125px; /* Ancho del menú */
    height: 60px;
}

/* Estilo del menú desplegable */
.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #b06ab3;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 340px;
    width: 125px;
}

.menu-desplegable li:last-child {
    border-bottom: none;
}

.menu-desplegable a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
}

/* Mostrar el menú desplegable al hacer clic en el botón */
#boton-menu:hover + .menu-desplegable,
.menu-desplegable:hover {
    display: block;

}






