
header {
    background-color: #333;
        color: #fff;
    text-align: center;
    padding: 20px 0;
}
.container {
width: 80%;
margin: 0 auto;
display: flex;
flex-direction: row;
gap: 20px;
justify-content: center; 
 }
.news-column {
display: flex;
gap: 20px; 
justify-content: center; 
flex-wrap: wrap; 
}
.news-item {
  
    transition: transform 0.3s ease;
    background-color: #fff;
    margin: 20px 0;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: auto;

}
.news-item:hover {
    transform: scale(1.05);
}
.news-item h2 {
    margin-top: 0;
}
.news-item p {
    margin-bottom: 0;
}
.news-item:first-child {
    margin-bottom: 0; 
}
.berria{
    display:grid;
    justify-content: center;
    grid-template-columns:repeat(auto-fit,100% );
    margin: auto;
    width: 80%;
    gap:4em;
}
hr {
height: 10px;
background: linear-gradient(to right, #4568dc, #b06ab3);

}        
h1 img{
width: 115px;
height: 65px;
}
.cesta {
position: absolute; /* Posición absoluta dentro del contenedor */
top: 40px; /* Distancia desde la parte superior */
right: 50px; /* Distancia desde la derecha */
color: #ffffff;
padding: 10px;
width: 20px;
height: auto;
}
.cesta :hover{
background-color: #b06ab3;
}
.cesta a{
display: block;
color: rgb(255, 255, 255); /* Color del texto en el menú */
text-decoration: none;
font-size: small;
font-family: 'Courier New', Courier, monospace;

}
body {
background:#151f42;
}
